.big.block {
  border: 1px solid black;
  width: 9cm;
  height: 4cm;
  padding: 10px;
  background-image: url(https://barcode.tec-it.com/barcode.ashx?data=30062818&code=Code25IL);
  background-repeat: no-repeat;
  background-position: top 90px right 10px;
  background-size: 3cm 2cm;
}

.image {
  display: inline-flex;
  position: relative; top: -155px;
  position: relative; left: -8px;
}

.text {
  font-size: 220%;
  width: 65px;
  display: inline-flex;
  margin: 0px;
  position: relative; top: -107px;
  position: relative; left: -90px;
}

.number.one {
  font-weight: bold;
  font-size: 800%;
  display: inline-flex;
  border: 4px solid black;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 0px;
  padding-bottom: 10px;
  position: relative; top: -127px;
  position: relative; left: -75px;
  height: 130px;
}

.number.two {
  font-weight: bold;
  font-size: 340%;
  display: inline-flex;
  position: relative; top: -445px;
  position: relative; left: 223px;
}
